[buildout]
develop = .
find-links =
    ${buildout:directory}/ZODB-4.0.0dev.tar.gz
parts = test
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = zope.catalog [test]

[versions]
ZODB = 4.0.0dev
zope.container = 4.0.0a2
zope.index = 4.0.0
zope.intid = 4.0.0a1
zope.keyreference = 4.0.0a2
zope.publisher = 4.0.0a2
zope.site = 4.0.0a1
zope.traversing = 4.0.0a2
